{% load static %}
{% block content %}
<html>
  <head>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <img style="height: 50px;width: 150px;" src="{% static 'media_root/itv1.JPG' %}">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  
                  <li class="nav-item"><a class="nav-link active" href="#!">HELP</a></li>
                  <li class="nav-item"><a class="nav-link active" href="#!">SETTINGS</a></li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'logout_view' %}">LOGOUT</a>
                    </li>
        
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'profile' %}">PROFILE</a>
                  </li>
  
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark active" href="{% url 'accounts:emp_login' %}">LOGIN</a>
                  </li>
            
                  {% endif %}
              </ul>
          </div>
      </div>
    </nav>
  {% endblock %}
  </body>
</html>
