{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    section{
      float: right;
      width: 1150px;
      position: relative;
    }

    .id-flex{
      width: 200px;
      float: left;
      position: absolute;
    }
    </style>
</head>
<body>
{% if user.is_authenticated %}

  {% for i in qs %}
        {% if "salesperson" in i.emp_desgn %}
          <div class="id-flex" id="wrapper">
              <!-- Sidebar-->
              <div class="border-end bg-white" id="sidebar-wrapper">
                  
                  <div class="list-group list-group-flush">
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'nfct:nfct_deal' %}">Add NFCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'deal_fct_nonfct:fct_details' %}">Add FCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Add Events Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Add AFP Deal</a>
                  </div>
              </div>
            </div>
          {% endif %}

          {% if "admin" in i.emp_desgn %}
          <div class="id-flex" id="wrapper">
              <!-- Sidebar-->
              <div class="border-end bg-white" id="sidebar-wrapper">
                  
                  <div class="list-group list-group-flush">
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'nfct:nfct_deal' %}">Add NFCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'deal_fct_nonfct:fct_details' %}">Add FCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Add Events Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Add AFP Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'agency:agency_detail' %}">Add Agency Details</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'agency:agency_contact' %}">Add Agency Contacts</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'customer:cname' %}">Add Client Details</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'customer:ccontact' %}">Add Client Contacts</a>

                  </div>
              </div>
            </div>
          {% endif %}

          {% if "md" in i.emp_desgn %}
          <div class="id-flex" id="wrapper">
              <!-- Sidebar-->
              <div class="border-end bg-white" id="sidebar-wrapper">
                  
                  <div class="list-group list-group-flush">
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'accounts:emp_registration' %}">Add Employee</a>
                  </div>
              </div>
            </div>
          {% endif %}

        {% endfor %}
        {% endif %}
    {% endblock %}
</body>
</html>