{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  
    .id-flex{
      padding: 50px 0px 0px 0px;
      width: 200px;
      float: left;
      position: relative;
      
    }
    .sidebar{
      background-color: black;
    }
    .nav-link{
      text-decoration: none;
      color: white;
    }
    </style>
</head>
<body>
{% if user.is_authenticated %}

  {% for i in qs %}
        {% if "Executive" in i.emp_desgn %}
          <div class="id-flex" id="wrapper">
              <!-- Sidebar-->
              <div class="border-end" id="sidebar-wrapper">
                  
                  <div class="list-group list-group-flush sidebar">
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'final_fct_nfct_deal:final_deal' %}">Add FCT/NFCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'final_events:final_event_deal' %}">Add Events Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'afp_deal:create_afp_deal' %}">Add AFP Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'deal_fct_nonfct:fctdeal' %}">Add Only FCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'nfct:nfct_finaldeal' %}">Add Only NFCT Deal</a>

                  </div>
              </div>
            </div>
          {% endif %}

          {% if "Admin" in i.emp_desgn %}
          <div class="id-flex" id="wrapper">
              <!-- Sidebar-->
              <div class="border-end" id="sidebar-wrapper">
                  
                  <div class="sidebar">
                      <a class="nav-link active navbar-dark bg-dark p-3" href="{% url 'final_fct_nfct_deal:final_deal' %}">Add FCT/NFCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'deal_fct_nonfct:fctdeal' %}">Add Only FCT Deal</a>
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'deal_fct_nonfct:nfct_finaldeal' %}">Add Only NFCT Deal</a>

                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'final_events:final_event_deal' %}">Add Events Deal</a>
                      <a class="nav-link active navbar-dark bg-dark p-3" href="{% url 'afp_deal:create_afp_deal' %}">Add AFP Deal</a>
                      <a class="nav-link active navbar-dark bg-dark p-3" href="{% url 'agency_client:agency_detail' %}">Add Agency Details</a>
                      <a class="nav-link active navbar-dark bg-dark p-3" href="{% url 'agency_client:agency_contact' %}">Add Agency Contacts</a>
                      <a class="nav-link active navbar-dark bg-dark p-3" href="{% url 'agency_client:cname' %}">Add Client Details</a>
                      <a class="nav-link active navbar-dark bg-dark p-3" href="{% url 'agency_client:ccontact' %}">Add Client Contacts</a>

                  </div>
              </div>
            </div>
          {% endif %}

          {% if "MD" in i.emp_desgn %}
          <div class="id-flex" id="wrapper">
              <!-- Sidebar-->
              <div class="border-end bg-white" id="sidebar-wrapper">
                  
                  <div class="list-group list-group-flush">
                      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'accounts:emp_registration' %}">Add Employee</a>
                  </div>
              </div>
            </div>
          {% endif %}

        {% endfor %}
        {% endif %}
    {% endblock %}
</body>
</html>
