{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Your Profile</title>
	<style type="text/css">
		button{
			border: none;
			border-radius: 10px;
			height: 40px;
			background-color: #993333;	/*#CC3300;*/
		}

		a{
			text-decoration-line: none;
			color: white;
		}
	</style>
</head>
<body>

{% if user.is_authenticated %}

	<h3>
		{% for i in qs %}

			<h1>Hi, {{ i.emp_fname }}</h1>
			<h1>Welcome to your profile</h1>

			First Name: {{i.emp_fname}}<br>
			Last Name : {{i.emp_lname}}<br>
			Designation: {{i.emp_desgn}}<br>
			Phone : {{i.emp_phone}}<br>

		
	</h3><br>

	{% if "admin" in i.emp_desgn %}
		<button type="submit" style="color: white;"><a href="{% url 'agency:agency_detail' %}">Add Agency</a></button>
		<button type="submit"><a href="{% url 'agency:agency_contact' %}">Add Agency Contact</a></button>

		<button type="submit" style="color: white;"><a href="{% url 'customer:cname' %}">Add Client</a></button>
		<button type="submit"><a href="{% url 'customer:ccontact' %}">Add Client Contact</a></button>
	{% endif %}

		<button type="submit"><a href="{% url 'logout_view' %}">Logout</a></button>
{% endfor %}
	

{% endif %}

{% endblock %}
</body>
</html>