{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<form method="POST">{% csrf_token %}
			<div class="container">
				<div class="col-12">
					<div class="row form-row spacer">
						<div class="col-1">
							<label class="form-label">Channels</label>
						</div>
						<div class="col-3">
							<select class="form-select" name="channel">
								<option value="">Select Channel</option>
								<option value="INN">INN</option>
								<option value="NX">NX</option>
								<option value="IN UP">IN UP</option>
								<option value="MP">MP</option>
								<option value="RAJ">RAJ</option>
								<option value="PUN">PUN</option>
								<option value="HAR">HAR</option>
								<option value="GUJ">GUJ</option>
								<option value="NE NEWS">NE NEWS</option>
							</select>
						</div>	
						<div class="col-1">
							<label class="form-label">Bands</label>
						</div>
						<div class="col-3">
							<select class="form-select" name="band">
								<option value="">Select Band</option>
								<option value="0600-1200">0600-1200</option>
								<option value="1200-1800">1200-1800</option>
								<option value="1800-2400">1800-2400</option>
								
							</select>
						</div>	
					</div>
					<div class="row form-row spacer">
						<div class="col-1">
							<label class="form-label">Dispersion</label>
						</div>
						<div class="col-3">
							<select class="form-select" name="dis">
								<option value="">Select Dispersion</option>
								<option value="33%-33%-33%">33%-33%-33%</option>
							</select>
						</div>	
						<div class="col-1">
							<label class="form-label">Base rate</label>
						</div>
						<div class="col-3">
							{{form.br}}
						</div>	
					</div>				 
				</div>
			</div>
			<div class="row g-3 align-items-start ">
				<div class="col-3" style="margin-top: 20px;">
					<button type="submit" class="btn btn-primary">Save Channel</button>
				</div>
			</div>
			{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
					<button type="button" class="close" id="msg" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="True">&times;</span>
					</button>
					{{ message }}
				</div>
			</div>
		{% endfor %}
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}