<!DOCTYPE html>
<html>
<head>
	<title>Customer Contacts</title>
</head>
<body>

	<h1>Customer Contacts</h1>

	<table border="1" cellpadding="10px" cellspacing="0">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Designation</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Customer Name</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>{% for i in qs %}
					{{i.firstName}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.lastName}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.designation}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.email}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.phone}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.customername}}
					<br>
				{% endfor %}
			</td>

		</tr>
	</tbody>
</table>

</body>
</html>