{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>iTV Network: Current India News, Top Headlines, Live Updates, English News India, Hindi News, Regional Updates India, Videos, Photos and More – ITV NETWORK: Connecting Dots…</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>
<body>

<!-- AFP Deal -->
<div class="container">
<form class="row g-2" method="POST" url = "{% url 'events_afp:afp_load_br' %}" id = "afp_form">{% csrf_token %}
  <label for="client_pri_ctc" style="font-weight: bold;font-size: 23px;">AFP Deal</label> 
  <div class="row g-2">
    <div class="col-sm-2">
    <label for="inputEmail4" class="form-label">Program Name *</label>

    {{form4.ref_program_name}}
  </div>
  <div class="col-sm-2">
    <label for="inputPassword4" class="form-label">Channels *</label>
    {{form4.ref_channels}}
    <!-- <div class="col">
        <select class="form-select" name="channel" id = "newschannels">
          <option value="">Select Channel</option>
          <option value="India News">India News</option>
          <option value="NewsX">NewsX</option>
          <option value="Haryana">Haryana</option>
          <option value="UPUK">UPUK</option>
          <option value="MPCG">MPCG</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Punjab">Punjab</option>
          <option value="Gujarat">Gujarat</option>
          
        </select>
    </div>   -->
  </div>
  
    <div class="col-sm-2">
    <label class="form-label">Promos *</label>
    {{form4.promos}}
  </div>
  <div class="col-sm-2">
    <label class="form-label">Slots *</label>
    {{form4.slot}}
  </div>
  <div class="col-sm-2">
    <label class="form-label">BaseRate *</label>
    <!-- {{form3.pri_landline}} --><br>
    <input type="text" name="BaseRate" placeholder="BaseRate" class="form-control" id = "baserate1" value = '{{afprate}}'>
  </div>

  <div class="col-sm-2">
    <label for="inputAddress" class="form-label">Effective Rate *</label>
    {{form4.eff_rate}}
  </div>
  
  {% if user.is_authenticated %}
  <div class="col-3" style="margin-top: 20px;">
      <button name="submit" type="submit" class="btn btn-primary"><a href="{% url 'profile' %}" style="color: white; text-decoration-line: none;">Back</a></button>
    </div>
  {% endif %}
  </div>
</form>
</div>
</body>
</html>