<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Events Deal</h1>
<form method="POST">{% csrf_token %}
	{{form5}}
	<button type="submit">Register Event Deal</button>
</form>
</body>
</html> -->

<form class="row g-3" method="POST">{% csrf_token %}
  <label for="client_pri_ctc" style="font-weight: bold;font-size: 23px;">Events Deal</label> 
  <div class="row g-3">
    <div class="col-sm-2">
    <label for="inputEmail4" class="form-label">Category Name *</label>
    {{form5.ref_category_name}}
  </div>
  <div class="col-sm-2">
    <label for="inputPassword4" class="form-label">Description *</label>
    {{form5.description}}
  </div>
  
    <div class="col-sm-2">
    <label class="form-label">Channels *</label>
    {{form5.ref_channels}}
  </div>
  <div class="col-sm-2">
    <label class="form-label">Amount *</label>
    {{form5.amount}}
  </div>
  <div class="col-sm-2">
    <label class="form-label">Merit Money *</label>
    {{form5.merit_money}}
        <!-- <input type="text" name="BaseRate" placeholder="BaseRate" class="form-control"> -->
  </div>
  
  </div>
  </form>