{% extends "base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Agency detail form</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="container">
    

<!-- Form 1 -->
             <form method="POST" enctype="multipart/form-data">{% csrf_token %}

    <div class="row ">
      
      <!--Agency Details  -->
<div class="col-8">
<p>
<h1>Add New Agency</h1>
</p>

{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
        </button>
        {{message}}
    </div>
</div>
{% endfor %}

<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-connectdevelop"></i>
      </div>
    </div>
    <div>
      
      {{form1.agency_name}}
    </div>
  </div>
  {{form1.agency_name.errors}}
</div> 

<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
    <div>
        
        {{form1.agency_officeno}}
      </div>            
  </div>
  {{form1.agency_officeno.errors}}
</div>

<div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-map-marker"></i>
              </div>
            </div>
            <div>
                
                {{form1.agency_street}}
              </div>            
          </div>
          {{form1.agency_street.errors}}
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-map-marker"></i>
        </div>
      </div>
      <div>
         
          {{form1.agency_state}}
        </div>            
    </div>
    {{form1.agency_state.errors}}
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
    <div>
        
        {{form1.agency_landmark}}
      </div>            
  </div>
  {{form1.agency_landmark.errors}}
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
    <div>
        
        {{form1.agency_city}}
      </div>            
  </div>
  {{form1.agency_city.errors}}
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-map-marker"></i>
      </div>
    </div>
    <div>
        {{form1.agency_pin}}
      </div>            
  </div><br>
<div style="background-color: rgb(245, 192, 192);">
  {% if form1.agency_pin.errors %}
  <span>Enter a valid pin code</span>
  {% endif %}
</div>
</div>


        <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary">Add Agency</button>
    
    {% if user.is_authenticated %}
    <button name="submit" type="submit" class="btn btn-primary"><a href="{% url 'profile' %}" style="color: white; text-decoration-line: none;">Back</a></button>
    {% endif %}
  </div>

</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>