<!DOCTYPE html>
<html>
<head>
	<title>Agency Details</title>
</head>
<body>
	<h1><u>Agency Details</u></h1>


<table border="1" cellpadding="10px" cellspacing="0">
	<thead>
		<tr>
			<th>Agency Name</th>
			<th>Agency State</th>
			<th>Agency ID</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>{% for i in qs %}
					{{i.agency_name}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.agency_state}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.a_id}}
					<br>
				{% endfor %}
			</td>

		</tr>
	</tbody>
</table>
</body>
</html>