<!DOCTYPE html>
<html>
<head>
	<title>Agency Contacts</title>
</head>
<body>

	<h1>Agency Primary Contacts</h1>

	<table border="1" cellpadding="10px" cellspacing="0">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Designation</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Agency ID</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>{% for i in qs %}
					{{i.pri_firstName}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.pri_lastName}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.pri_designation}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.pri_email}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.pri_phone}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.agency_details}}
					<br>
				{% endfor %}
			</td>

		</tr>
	</tbody>
</table>

<h1>Agency Secondary Contacts</h1>
<table border="1" cellpadding="10px" cellspacing="0">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Designation</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Agency ID</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>{% for i in qs %}
					{{i.sec_firstName}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.sec_lastName}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.sec_designation}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.sec_email}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.sec_phone}}
					<br>
				{% endfor %}
			</td>

			<td>{% for i in qs %}
					{{i.agency_details}}
					<br>
				{% endfor %}
			</td>

		</tr>
	</tbody>
</table>
</body>
</html>