<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>Hello, world!</title>
  </head>
  <body>
    <!-- This is constant for all pages -->
    {% include 'base/nav.html' with brand_name="iTV Network" %}
   
    <div class="container">
    <!-- This will keep on changing base on the HTML file -->
    {% block content %}{% endblock %}
    </div>
  
 
  </body>
    
</html>