{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Add Agency Contact</title>
  <style>
  #secondary_contact{
    display:none
  }
  </style>
</head>
<body>
<div class="container-fluid">
  

<!-- SideBar -->
  <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Registration</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Client</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Agency</span> </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- Main Content -->
<div class="col py-3">
    <div class="row "> 
      <!--Agency Details  -->
      <div class="col-8">
        <p>
          <h1>Add New Agency Contact</h1>
        </p>
      </div>

<form class="row g-3" method="POST">{% csrf_token %}
<!-- Primary Contact Details -->
  <div class="form-group row">
    <!-- <label>Select Agency</label> -->
    <p> 
      <div class="col-4">
        {{form2.agency}}
      </div>
    </p>
  </div> 

<!-- {% load crispy_forms_tags %} -->

  <label for="client_pri_ctc" style="font-weight: bold;font-size: 23px;">Primary Contact</label>
  <hr style="width: 800px; color: blue;">
 
  <div class="row g-3">
    <label for="client_pri_ctc" style="font-weight: bold;font-size: 17px;">Contact details</label>
    <div class="col-sm-3">
      <label for="inputEmail4" class="form-label">First Name</label>
      {{form2.pri_firstName}}  <!-- |as_crispy_field -->
    </div>
    <div class="col-sm-3">
      <label for="inputPassword4" class="form-label">Last Name</label>
      {{form2.pri_lastName}}
    </div>
    <div class="col-sm-3">
      <label for="inputEmail4" class="form-label">Email</label>
      {{form2.pri_email}}
    </div>
  </div>
  
  <div class="row g-3">
    <div class="col-sm-3">
      <label class="form-label">Designation</label>
      {{form2.pri_designation}}
    </div>
    <div class="col-sm-3">
      <label class="form-label">Phone Number</label>
      {{form2.pri_phone}}
    </div>
    <div class="col-sm-3">
      <label class="form-label">Landline</label>
      {{form2.pri_landline}}
    </div>
  </div>

  <div class="row g-3">
    <label for="client_pri_ctc" style="font-weight: bold;font-size: 17px;">Address</label>
  <div class="col-sm-3">
    <label for="inputAddress" class="form-label">Flat No./House/Block</label>
    <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
    {{form2.pri_flatno}}
  </div>
  <div class="col-sm-3">
    <label for="inputAddress2" class="form-label">Street Name</label>
    <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"> -->
    {{form2.pri_street}}
  </div>
  <div class="col-sm-3">
    <label for="inputCity" class="form-label">Landmark</label>
    <!-- <input type="text" class="form-control" id="inputCity"> -->
    {{form2.pri_landmark}}
  </div>
  </div>
  
  <div class="row g-3">
    <div class="col-sm-3">
    <label for="inputState" class="form-label">City</label>
    {{form2.pri_city}}
  </div>
  <div class="col-sm-3">
    <label for="inputZip" class="form-label">Pincode</label>
    <!-- <input type="text" class="form-control" id="inputZip"> -->
    {{form2.pri_pin}}
  </div>
  </div>



  <!-- Secondary Contact -->
  <div class="row g-3">
  <div class="form-check">
        <input type="checkbox" class="form-check-input" id="sec_contact" name="sec_contact" onclick="OnChangeCheckbox (this)" >
        <label class="form-check-label" for="sec_contact" >Add Secondary Contact (Optional)</label>
  </div>
  </div>
  <div id="secondary_contact" style="display: none;" class="row g-3">
    
  <div class="row g-3" id="seccondary_contact">
    <label for="client_pri_ctc" style="font-weight: bold;font-size: 23px;">Secondary Contact</label>
    <hr id = "hr-rule" style="width: 800px; color: blue;">
    <label for="client_pri_ctc" style="font-weight: bold;font-size: 17px;">Contact details</label>
  <div class="col-sm-3">
    <label for="inputEmail4" class="form-label">First Name</label>
    {{form2.sec_firstName}}
  </div>
  <div class="col-sm-3">
    <label for="inputPassword4" class="form-label">Last Name</label>
    {{form2.sec_lastName}}
  </div>
  <div class="col-sm-3">
    <label for="inputEmail4" class="form-label">Email</label>
    {{form2.sec_email}}
  </div>
  </div>
  
  <div class="row g-3">
    <div class="col-sm-3">
    <label class="form-label">Designation</label>
    {{form2.sec_designation}}
  </div>
  <div class="col-sm-3">
    <label class="form-label">Phone Number</label>
    {{form2.sec_phone}}
  </div>
  <div class="col-sm-3">
    <label class="form-label">Landline</label>
    {{form2.sec_landline}}
  </div>

  </div>
  <div class="row g-3">
    <label for="client_pri_ctc" style="font-weight: bold">Address</label>
  <div class="col-sm-3">
    <label for="inputAddress" class="form-label">Flat No./House/Block</label>
    {{form2.sec_flatno}}
  </div>
  <div class="col-sm-3">
    <label for="inputAddress2" class="form-label">Street Name</label>
    {{form2.sec_street}}
  </div>
  <div class="col-sm-3">
    <label for="inputCity" class="form-label">Landmark</label>
    {{form2.sec_landmark}}
  </div>
  </div>
  
  <div class="row g-3">
    <div class="col-sm-3">
    <label for="inputState" class="form-label">City</label>
    {{form2.sec_city}}
  </div>
  <div class="col-sm-3">
    <label for="inputZip" class="form-label">Pincode</label>
    {{form2.sec_pin}}
  </div>
  </div>
  </div>
  <div class="row g-3">
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary">Register Agency Contact</button>
    {% if user.is_authenticated %}
    <button name="submit" type="submit" class="btn btn-primary"><a href="{% url 'profile' %}" style="color: white; text-decoration-line: none;">Back</a></button>
    {% endif %}
  </div>
</div>
</form>

        </div>
    </div>
</div>  

<!-- Scripts -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- Attach client script -->

   <script type="text/javascript">
        function OnChangeCheckbox (checkbox) {
            if (checkbox.checked) {
                // alert ("The check box is checked.");
                document.getElementById("secondary_contact").style.display = 'block';
            }
            else {
                // alert ("The check box is not checked.");
                 document.getElementById("secondary_contact").style.display = 'none';
            }
        }
    </script>
{% endblock %}
</body> 
</html>