<!DOCTYPE html>
<html>
<head>
	<title>Agency Registration</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <style >
  #attach_cust_list{
    display:none
  }
  </style>
</head>
<body>

	<div class="container-fluid">
    
<!-- SideBar -->
<div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li> -->
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Registration</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Register Client</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Register Agency</span> </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            

<!-- Main content -->
 <!-- Form 1 -->
             <form method="POST" enctype="multipart/form-data">{% csrf_token %}

    <div class="row ">
      
      <!--Agency Details  -->
      <div class="col-8">
        <p>
        <h1>Agency Registration</h1>
        </p>
        <div class="form-group">
          <!-- <label for="agncy_name">Agency Name</label> --> 
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-connectdevelop"></i>
              </div>
            </div>
            <div class="form-control">
                {{form1.agency_name.errors}}
                {{form1.agency_name}}
              </div> 
          </div>
        </div>



<!-- Agency State -->
<div class="form-group">
          <!-- <label for="agncy_name">Agency Name</label> --> 
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-map-marker"></i>
              </div>
            </div>
            <div class="form-control">
                {{form1.agency_state.errors}}
                {{form1.agency_state}}
              </div>            
          </div>
        </div>

<!-- Attach Customer -->

      <!-- div class="form-check">
        <input type="checkbox" class="form-check-input" id="attach_cust" name="attach_cust" onclick="OnChangeCheckbox (this)" >
        <label class="form-check-label" for="attach_cust" >Attach Client</label>
      </div> -->

<!-- Customer List -->
<!-- <div id="attach_cust_list">
      <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-bank"></i>
              </div>
            </div>   
      <select class="form-select">

        <option value="" disabled selected hidden>Client List</option>
        <option value="1">Client One</option>
        <option value="2">Client Two</option>
  
      </select> -->
      <!-- </div>
      <hr class="bg-primary">
      </div> -->

    <!-- </div> -->
    <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary">Create agency</button>
    <!-- <input type="submit" name="Submit"> -->
  </div>
</form>

</div class="row">
      <hr class="bg-primary col-8">
      </div>








<!-- Primary Contact Details -->
<!-- Form 2 -->
<form method="POST">{% csrf_token %}
<!-- Agency list -->
<div class="form-group row">
    <p>
     
    <div class="col-4">
      <div>
        <label for="agncy_select">Select Agency</label>
        <div class="custom-select">
              {{form2.agency.errors}}
              {{form2.agency}}
        </div>
        
      </div>
    </div>
    </p>
  </div> 


<div class="row justify-content-left">
    <div class="col-4 border-right border-primary">
  
     <!--Primary contact First Name  -->
      <div class="form-group">
    <label for="agncy_pri_fname">Primary Contact</label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-address-card"></i>
        </div>
      </div> 
      <div class="form-control">
          {{form2.firstName.errors}}
          {{form2.firstName}}
        </div>
    </div>
  </div>


<!-- Primary Contact Last name -->
<div class="form-group">
    <label for="agncy_pri_ctc"></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-address-card"></i>
        </div>
      </div>
      <div class="form-control">
          {{form2.lastName.errors}}
          {{form2.lastName}}
        </div> 
    </div>
  </div>



  <div class="form-group">
    <label for="agncy_pri_desg"></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-graduation-cap"></i>
        </div>
      </div>
      <div class="form-control">
          {{form2.designation.errors}}
          {{form2.designation}}
        </div> 
    </div>
  </div>

  <div class="form-group">
    <label for="agncy_pri_email"></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-at"></i>
        </div>
      </div>
      <div class="form-control">
          {{form2.email.errors}}
          {{form2.email}}
        </div> 
    </div>
  </div>

  <div class="form-group">
    <label for="agncy_pri_phone"></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-phone"></i>
        </div>
      </div>
        <div class="form-control">
          {{form2.phone.errors}}
          {{form2.phone}}
        </div> 
      <!-- <input id="agncy_pri_phone" name="agncy_pri_phone" placeholder="Phone number" type="tel" class="form-control" required="required"> -->
      
    </div>
  </div>
    
    </div>
    







<!-- Secondary contact details and submit button -->
    <div class="col-4">
    
    <!-- Secondary contact first name -->
      <div class="form-group">
    <label for="agncy_sec_fname">Secondary Contact</label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" >
          <i class="fa fa-address-card"></i>
        </div>
      </div> 
      <input id="agncy_sec_fname" name="agncy_sec_fname" type="text" class="form-control" placeholder="Name of the Agency person">
    </div>
  </div>

<!-- Secondary contact lname -->

<div class="form-group">
    <label for=""></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" >
          <i class="fa fa-address-card"></i>
        </div>
      </div> 
      <input id="agncy_sec_lname" name="agncy_sec_lname" type="text" class="form-control" placeholder="Name of the Agency person">
    </div>
  </div>

  <div class="form-group">
    <label for="agncy_sec_desg"></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-graduation-cap"></i>
        </div>
      </div> 
      <input id="agncy_sec_desg" name="agncy_sec_desg" placeholder="Designation" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="agncy_sec_email"></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-at"></i>
        </div>
      </div> 
      <input id="agncy_sec_email" name="agncy_sec_email" placeholder="email@domain.com" type="email" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="text1"></label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-phone"></i>
        </div>
      </div> 
      <input id="text1" name="text1" placeholder="Phone number" type="tel" class="form-control">
    </div>
  </div>
    
    </div>
   </div>
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary">Register contact</button>
  </div>
  </form>
        </div>
    </div>





</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- showAttach Script -->
  
    
   <script type="text/javascript">
        function OnChangeCheckbox (checkbox) {
            if (checkbox.checked) {
                // alert ("The check box is checked.");
                document.getElementById("attach_cust_list").style.display = 'flex';
            }
            else {
                // alert ("The check box is not checked.");
                 document.getElementById("attach_cust_list").style.display = 'none';
            }
        }
    </script>

  
	
</body>
</html>