<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Deal FCT/NFCT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <form method="POST">{% csrf_token %}
    <div class="row g-3">
        <center><h3>Deal Details</h3></center>
    </div>
  
    <div class="row mb-3">
        
        <div class="col-6">
            <div class="row">
                <div class="col-auto">
                    <label for="salesperson" class="col-form-label">Salesperson</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="salesperson" id="salesperson" class="form-control">
                </div>
            </div> 
        </div>
         <div class="col-6">
            <div class="row">
                <div class="col-auto">
                    <label for="report" class="col-form-label">Reporting Manager</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="report" id="report" class="form-control">
                </div>
            </div>
        </div> 
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="row">
                <div class="col-auto">
                    <label for="client_name" class="col-form-label">Client Name</label>
                </div>
                <div>
                    {{form.client_name_ref}}
                </div>
                    
                </div>
            </div>
        </div>
        <div class="row mb-3">
        <div class="col-6">
            <div class="row mb-6">
                <div class="col-auto">
                    <label for="agency_name" class="col-form-label">Agency Name</label>
                </div>
                <div>
                    {{form.agency_name_ref}}
                </div>
                
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="row mb-6">
                <div class="col-auto">
                    <label for="brand_name" class="col-form-label">Brand Name</label>
                </div>
                    {{form.brand_name_ref}}
            </div>
        </div> 
        
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="col-auto">
                <label for="client_contact" class="col-form-label">Contact Details</label>
            </div>
            <div class="col-auto">
                <table class="table table-hover">
                    <thead>
                            <tr>
                               
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Designation
                                </th>
                                <th scope="col">
                                    Email
                                </th>
                                <th scope="col">
                                    Telephone
                                </th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                {{form.client_contact_ref}}
                            <!-- <select name="client_name" id="client_name" class="form-select">
                                <option value="">Client 1</option>
                                <option value="">Client 2</option>
                                <option value="">Client 3</option>
                            </select> -->
                        </th>
                            <td><input type="text" name="clientdesignation" id="clientdesignation" class="form-control" readonly></td>
                            <td><input type="email" name="clientemail" id="clientemail" class="form-control" readonly></td>
                            <td><input type="tele" name="clienttele" id="clienttele" class="form-control" readonly></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="col-auto">
                <label for="client_contact" class="col-form-label">Contact Details</label>
            </div>
            <div class="col-auto">
                <table class="table table-hover">
                    <thead>
                            <tr>
                                <!-- <th scope="col"></th> -->
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Designation
                                </th>
                                <th scope="col">
                                    Email
                                </th>
                                <th scope="col">
                                    Telephone
                                </th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                {{form.agency_contact_ref}}
                                <!-- <select name="agency_name" id="agency_name" class="form-select">
                                <option value="">Agency 1</option>
                                <option value="">Agency 2</option>
                                <option value="">Agency 3</option>
                            </select> -->
                        </th>
                            <td><input type="text" name="agencydesignation" id="agencydesignation" class="form-control" readonly></td>
                            <td><input type="email" name="agencyemail" id="agencyemail" class="form-control" readonly></td>
                            <td><input type="tele" name="agencytele" id="agencytele" class="form-control" readonly></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">Save Deal</button>

      </div>
    </form>
</div>
    <script>
        var cli_contact = '{{ tmpJson | safe }}';
	$("#id_client_name_ref").change(function () {
		
		var client = $(this).val();			
	});	

	$("#id_client_contact_ref").change(function(){
		var c_con_name = $(this).val();	
		var client = $('#id_client_name_ref').val();
		console.log("----------",c_con_name,client);
		if(c_con_name){
			doc_cli = new DOMParser().parseFromString(cli_contact, "text/html")
			cli_list = doc_cli.documentElement.textContent;
			cli_list = JSON.parse(cli_list)
            for (i=0;i<cli_list.length;i++){      //iterating in the list of dictionary
                var field = cli_list[i]['fields'];    //storing the fields key of the ith element
                    if (c_con_name == cli_list[i]['pk']){    //if the selected contact name is equal to the pk of the ith ele
                        var des = cli_list[i]['fields']['pri_desg'];
                        var ema = cli_list[i]['fields']['pri_email'];
                        var tele = cli_list[i]['pk'];
                        document.getElementById('clientdesignation').value = des;
                        document.getElementById('clientemail').value = ema;
                        document.getElementById('clienttele').value = tele;

		}}}
	});

	var ag_contact = '{{ tmpagen | safe }}';

	$("#id_agency_name_ref").change(function(){
		var agency = $(this).val();
	});

	$("#id_agency_contact_ref").change(function(){
		var a_con_name = $(this).val();
		var agency = $('#id_agency_name_ref').val();
		if(a_con_name){
			doc_agn = new DOMParser().parseFromString(ag_contact, "text/html")
			agn_list = doc_agn.documentElement.textContent;
			agn_list = JSON.parse(agn_list)
            for (i=0;i<agn_list.length;i++){
                var field = agn_list[i]['fields'];
                    if (a_con_name == agn_list[i]['pk']){
                        var des = agn_list[i]['fields']['pri_designation']
                        var ema = agn_list[i]['fields']['pri_email']
                        var tele = agn_list[i]['pk']
                        document.getElementById('agencydesignation').value = des
                        document.getElementById('agencyemail').value = ema
                        document.getElementById('agencytele').value = tele
                    }
                
            }
          
		}
	});
    </script>
</body>
</html>